Tamagotchi/TamaWebApp/Service References/TamaService/TamaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TamaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITamaLogic_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tamaservice.azurewebsites.net/TamaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tamaservice.azurewebsites.net/TamaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tamaservice.azurewebsites.net/TamaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TamaService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITamaLogic_GetTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_GetTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_AddTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_AddTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_GetAllTamagotchi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTamagotchi" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_GetAllTamagotchi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTamagotchiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_GetFlag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlag" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_GetFlag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlagResponse" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_UpdateTamagochi_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTamagochi" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_UpdateTamagochi_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTamagochiResponse" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_FlipFlag_InputMessage">
    <wsdl:part name="parameters" element="tns:FlipFlag" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_FlipFlag_OutputMessage">
    <wsdl:part name="parameters" element="tns:FlipFlagResponse" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_Eat_InputMessage">
    <wsdl:part name="parameters" element="tns:Eat" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_Eat_OutputMessage">
    <wsdl:part name="parameters" element="tns:EatResponse" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_Sleep_InputMessage">
    <wsdl:part name="parameters" element="tns:Sleep" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_Sleep_OutputMessage">
    <wsdl:part name="parameters" element="tns:SleepResponse" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_Play_InputMessage">
    <wsdl:part name="parameters" element="tns:Play" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_Play_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayResponse" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_Workout_InputMessage">
    <wsdl:part name="parameters" element="tns:Workout" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_Workout_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkoutResponse" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_Hug_InputMessage">
    <wsdl:part name="parameters" element="tns:Hug" />
  </wsdl:message>
  <wsdl:message name="ITamaLogic_Hug_OutputMessage">
    <wsdl:part name="parameters" element="tns:HugResponse" />
  </wsdl:message>
  <wsdl:portType name="ITamaLogic">
    <wsdl:operation name="GetTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/GetTamagotchi" message="tns:ITamaLogic_GetTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/GetTamagotchiResponse" message="tns:ITamaLogic_GetTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/AddTamagotchi" message="tns:ITamaLogic_AddTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/AddTamagotchiResponse" message="tns:ITamaLogic_AddTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTamagotchi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/GetAllTamagotchi" message="tns:ITamaLogic_GetAllTamagotchi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/GetAllTamagotchiResponse" message="tns:ITamaLogic_GetAllTamagotchi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/GetFlag" message="tns:ITamaLogic_GetFlag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/GetFlagResponse" message="tns:ITamaLogic_GetFlag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTamagochi">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/UpdateTamagochi" message="tns:ITamaLogic_UpdateTamagochi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/UpdateTamagochiResponse" message="tns:ITamaLogic_UpdateTamagochi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FlipFlag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/FlipFlag" message="tns:ITamaLogic_FlipFlag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/FlipFlagResponse" message="tns:ITamaLogic_FlipFlag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eat">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/Eat" message="tns:ITamaLogic_Eat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/EatResponse" message="tns:ITamaLogic_Eat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sleep">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/Sleep" message="tns:ITamaLogic_Sleep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/SleepResponse" message="tns:ITamaLogic_Sleep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Play">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/Play" message="tns:ITamaLogic_Play_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/PlayResponse" message="tns:ITamaLogic_Play_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Workout">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/Workout" message="tns:ITamaLogic_Workout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/WorkoutResponse" message="tns:ITamaLogic_Workout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hug">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamaLogic/Hug" message="tns:ITamaLogic_Hug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamaLogic/HugResponse" message="tns:ITamaLogic_Hug_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITamaLogic" type="tns:ITamaLogic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/GetTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/AddTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/GetAllTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlag">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/GetFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTamagochi">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/UpdateTamagochi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlipFlag">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/FlipFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eat">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/Eat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sleep">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/Sleep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Play">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/Play" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Workout">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/Workout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hug">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/Hug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITamaLogic" type="tns:ITamaLogic">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITamaLogic_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/GetTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/AddTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTamagotchi">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/GetAllTamagotchi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlag">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/GetFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTamagochi">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/UpdateTamagochi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlipFlag">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/FlipFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eat">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/Eat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sleep">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/Sleep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Play">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/Play" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Workout">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/Workout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hug">
      <soap:operation soapAction="http://tempuri.org/ITamaLogic/Hug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TamaService">
    <wsdl:port name="BasicHttpBinding_ITamaLogic" binding="tns:BasicHttpBinding_ITamaLogic">
      <soap:address location="http://tamaservice.azurewebsites.net/TamaService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITamaLogic" binding="tns:BasicHttpsBinding_ITamaLogic">
      <soap:address location="https://tamaservice.azurewebsites.net/TamaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>