Tamagotchi/TamaWebApp/Service References/TamaService/TamaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tamaservice.azurewebsites.net/TamaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TamaService" />
  <xs:element name="GetTamagotchi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TamaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TamaService" minOccurs="0" name="GetTamagotchiResult" nillable="true" type="q1:Tamagotchi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTamagotchi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTamagotchiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTamagotchiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTamagotchi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTamagotchiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TamaService" minOccurs="0" name="GetAllTamagotchiResult" nillable="true" type="q2:ArrayOfTamagotchi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTamagochi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TamaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTamagochiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTamagochiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlipFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tamaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlipFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlipFlagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TamaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sleep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TamaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SleepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SleepResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Play">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TamaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Workout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TamaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TamaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HugResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecTillAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tamaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SecTillActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SecTillActionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>